@model Pandami2.Models.ViewModelDemandeService
@{
    ViewBag.Title = "Déposer une demande";
    
}

<div class="jumbotron text-center">
    <h2>Déposer une demande de service</h2>
</div>

    <body id="bodydepot">
        <div class="row" id="depotdem">
            <form method="post" action="" onsubmit="return validation()" >
                <br />
                <input class="lbl4" type="text" id="idEmetteur" name="idEmetteur" value="@Model.IdEmetteur" hidden />
                <table>
                    <tr>
                        <td>
                            <label class="lbl4" for="idTypeService">Veuillez selectionner un type de service : </label>
                        </td>
                        <td>
                            <select class="lbl4" id="idTypeService" name="idTypeService" onchange="supprBordureRouge()">
                                <option  class="lbl4" value=""> Choisir un type de service </option>
                                @{ foreach (KeyValuePair
                                  <int, string>
                                      kvp in Model.TypeServDao.ChargerListeTypeService())
                                    {
                                        <option value="@kvp.Key"> @kvp.Value </option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" for="besoineqm">Besoin en équipement : </label>
                        </td>
                        <td>
                            <select class="lbl4" name="idEquipement" id="idEquipement" multiple>
                                <option class="lbl4" value=""> Choisissez un équipement </option>
                                @{ foreach (KeyValuePair
                                  <int, string>
                                      kvp in Model.EquipmtDao.ChargerListeEquipements())
                                    {
                                        <option value="@kvp.Key"> @kvp.Value </option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" for="datereal">Date de réalisation : </label>
                        </td>
                        <td>
                            <input class="lbl4" type="date" id="dateRealisation" name="dateRealisation" onchange="supprBordureRouge()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" for="heurereal">Heure de réalisation : </label>
                        </td>
                        <td>
                            <input class="lbl4" type="time" name="heureRealisation" id="heureRealisation" onchange="supprBordureRouge()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" name="lieureal">Lieu de réalisation : </br>(si différent du lieu de résidence) </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" name="numrue">N° et rue : </label>
                        </td>
                        <td>
                            <input class="lbl4" type="text" name="numrue" id="adresseRealisation" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl4" for="ville">Ville :</label>
                        </td>
                        <td>
                            <select class="lbl4" id="ville" name="idVille">
                                <option  class="lbl4" value=""> Choisissez une ville </option>
                                @{ foreach (KeyValuePair
                                  <int, string>
                                      kvp in Model.VilDao.ChargerListeVille())
                                    {
                                        <option value="@kvp.Key"> @kvp.Value </option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <input type="text" name="dateEnregistrement" value="@DateTime.Now.ToString()" hidden />
                <input id="btndepot" type="submit" value="Valider" />
            </form>
            <br />
            <div>@ViewBag.Message</div>
            <button type="submit" onclick="entrerValeurs()"> Demo </button>
            <script>
                //permet de vérifier la saisie des champs obligatoires
                function validation() {
                    var typeService = document.getElementById("idTypeService");
                    var dateRealisation = document.getElementById("dateRealisation");
                    var heureRealisation = document.getElementById("heureRealisation");
                    var valOk = true;
                    if (typeService.options[typeService.selectedIndex].value == 0) {
                        typeService.style.border = "2px solid #FF0000";
                        valOk = false;
                    }
                    if (dateRealisation.value == 0) {
                        dateRealisation.style.border = "2px solid #FF0000";
                        valOk = false;
                    }
                    if (heureRealisation.value == 0) {
                        heureRealisation.style.border = "2px solid #FF0000";
                        valOk = false;
                    }
                    if (valOk == false) {
                        alert("Veuillez renseigner les champs en rouge");
                        return false;
                    }
                };
                //permet de saisir les champs obligatoires pour la demo
                function entrerValeurs() {
                    var typeService = document.getElementById("idTypeService");
                    typeService.options[4].selected = true;
                    typeService.style.border = "1px solid #000000";
                    var idEquipement = document.getElementById("idEquipement");
                    idEquipement.options[2].selected = true;
                    idEquipement.options[3].selected = true;
                    idEquipement.style.border = "1px solid #000000";
                    document.getElementById("dateRealisation").value = "2021-02-15";
                    document.getElementById("dateRealisation").style.border = "1px solid #000000";
                    document.getElementById("heureRealisation").value = "10:00";
                    document.getElementById("heureRealisation").style.border = "1px solid #000000";
                };
                //permet de supprimer les bordures rouges au moment de la saisie si un champ n'avait pas été rempli
                function supprBordureRouge() {
                    var baliseTarget = event.target;
                    baliseTarget.style.border = "1px solid #000000";
                }
            </script>
        </div>
    </body>
