@model Pandami2.Models.DemandeService

@{
    ViewBag.Title = "RechercherUneDemande";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">

    <h2>Rechercher Une demande de service </h2>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <br />
            <br />
            
            <form class=" form-inline" action="rechercher" method="get">
                <div class="input-group">
                    <select class="form-control">
                        <option selected>Recherche par type de service</option>
                        @foreach (var data in Model.ChargerListeTypeService())
                        {
                            <option value="1">@data</option>
                        }

                    </select>
                    <button class="form-control mr-sm h2 btn btn-default" type="submit">Rechercher</button>

                </div>
     
            </form>
        </div>

        <div class="col-sm-9">
            <h3>Liste des demandes de service en cours</h3>

            @foreach (var item in Model.AfficherDemandes())
            {
                <form methode="post">
                    <div class="panel panel-default">

                        <div class="panel-heading">

                            @Html.DisplayNameFor(model => model.DateEnregistrement)
                            @Html.DisplayFor(modelItem => item.DateEnregistrement)
                            @Html.DisplayNameFor(model => model.IdEmetteur)
                            @Html.DisplayFor(modelItem => item.IdEmetteur)

                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    @Html.DisplayNameFor(model => model.IdTypeService)
                                    @Html.DisplayFor(modelItem => item.IdTypeService)
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.DateRealisation)
                                        @Html.DisplayFor(modelItem => item.DateRealisation)

                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayNameFor(model => model.AdresseRealisation)
                                        @Html.DisplayFor(modelItem => item.AdresseRealisation)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.VilleRealisation)
                                        @Html.DisplayFor(modelItem => item.VilleRealisation)
                                    </td>

                                </tr>

                            </table>



                            <input type="submit" value="Repondre" class="btn btn-default pull-right" />
                            

                </form>


             }


        </div>


            
                </div>
           
       
      </div>
 </div>
    
</div>
