@*@model Pandami2.Models.ViewModelDemandeService*@

@{
    ViewBag.Title = "RechercherUneDemande";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h2>Rechercher une demande de service </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <br />
            <form class="form-inline" action="" method="post">
                <div class="input-group">
                    <select class="form-control">
                        <option selected>Recherche par type de service</option>
                        @foreach (var data in ViewBag.listeTypeService)
                        {
                            <option value="1">@data</option>
                        }
                    </select>
                    <button class="form-control mr-sm h2 btn btn-default" type="submit">Rechercher</button>
                </div>
            </form>
        </div>

        <div class="col-sm-9">
            <h3>Liste des demandes de service en cours</h3>
            @foreach (var item in ViewBag.listeDemandes)
            {
                <form method="post" action="RechercherUneDemande">
                    <input type="text" name="idUtilisateur" value="@ViewBag.utilisateur">
                    <input type="text" name="idDemande" value="@item.IdDemande">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label for="dateEnregistrement"> Date enregistrement </label>
                            <input type="text" id="dateEnregistrement" value="@item.DateEnregistrement" />
                            <label> Emetteur </label>
                            <label id="idEmetteur" name="idEmetteur"> @item.IdEmetteur </label>
                        </div>
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td> Type de service </td>
                                    <td> @item.IdTypeService </td>
                                <tr>
                                    <td> Date de réalisation </td>
                                    <td> @item.DateRealisation </td>
                                </tr>
                                <tr>
                                    <td> Adresse de réalisation </td>
                                    <td> @item.AdresseRealisation </td>
                                <tr>
                                    <td> Ville de réalisation </td>
                                    <td> @item.VilleRealisation </td>
                                </tr>
                            </table>
                        </div>
                        <input type="submit" value="Repondre" class="btn btn-default pull-right" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

    

