@using Pandami2.Models

@{
    ViewBag.Title = "Suivi Des Demandes";
}
<div class="jumbotron text-center">
    <h2>Suivi des demandes</h2>
</div>
<div >
    <ul class="container">
        <li><a href="#demcours">En cours</a></li>
        <li><a href="#demnonpourv">Non pourvues</a></li>
        <li><a href="#demavalider">A valider</a></li>
        <li><a href="#demenattente">En attente</a></li>
        <li><a href="#dempassees">A clôturer</a></li>
    </ul>
</div>

<body id="bodydem" >
    <div class="row" id="demcours">

        <h3 class="titredem">Demandes en cours</h3>


        @foreach (DemandeService d in ViewBag.demandesEnCours)
        {
            <form method="post">
                <div class="demandes">
                    <div>
                        <input type="text" name="idDemande" value="@d.IdDemande": hidden/>
                        <label class="lbl1">Pour cette demande vous êtes : </label>
                        <label class="lbl2">Bénéficiaire</label>
                    </div>
                    <div>
                        <label class="lbl1">Date de réalisation : </label>
                        <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                    </div>
                    <div>
                        <label class="lbl1">Heure de réalisation :</label>
                        <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                    </div>
                    <div>
                        <label class="lbl1">Adresse de réalisation : </label>
                        <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                    </div>
                    <div>
                        <label class="lbl1">Type de service : </label>
                        <label class="lbl2">@d.LibelleTypeService</label>
                    </div>
                    <div>
                        <label class="lbl1">Equipement nécessaire : </label>
                        <p id="equip">
                            @foreach (string item in d.Equipements)
                            {

                                <label id="equiplbl">@item</label><br />

                            }
                        </p>
                    </div>
                    <div>
                        <label class="lbl1">Bénévole concerné par cette demande : </label>
                        <label class="lbl2">@d.NomBenevole</label>
                    </div>
                    <div>
                        <input type="submit" class="btnsuividem" value="Annuler cette demande"/>
                    </div>
                    <div>
                        <button class="btnsuividem">Négocier la date et/ou l'heure de cette demande</button>
                    </div>
                </div>
            </form>
        }



        @foreach (DemandeService d in ViewBag.demandesEnCoursBenevole)
        {
            <div class="demandes">
                <form method="post">
                    <input type="text" name="idBenevole" value="@ViewBag.idUtilisateur" hidden />
                    <input type="text" name="idDemande" value="@d.IdDemande" hidden />
                    <div>
                        <label class="lbl1">Pour cette demande vous êtes : </label>
                        <label class="lbl2">Bénévole</label>
                    </div>
                    <div>
                        <label class="lbl1">Date de réalisation : </label>
                        <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                    </div>
                    <div>
                        <label class="lbl1">Heure de réalisation :</label>
                        <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                    </div>
                    <div>
                        <label class="lbl1">Adresse de réalisation : </label>
                        <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                    </div>
                    <div>
                        <label class="lbl1">Type de service : </label>
                        <label class="lbl2">@d.LibelleTypeService</label>
                    </div>
                    <div>
                        <label class="lbl1">Equipement nécessaire : </label>
                        <p id="equip">
                            @foreach (string item in d.Equipements)
                            {

                                <label id="equiplbl">@item</label><br />

                            }
                        </p>
                    </div>
                    <div>
                        <input type="button" class="btnsuividem" value="Négocier la date et/ou l'heure de cette demande" />
                        <input type="radio" name="annulationParticipation" value="1" checked hidden />
                        <input type="submit" class="btnsuividem" value="Annuler ma participation à cette demande" />
                    </div>
                    <div>
                        
                    </div>

                </form>
            </div>
        }

    </div>
    <div class="row" id="demnonpourv">
        <h3 class="titredem">Demandes non pourvues</h3>
        @foreach (DemandeService d in ViewBag.demandesNonPourvues)
        {
        <div class="demandes">
            <div>
                <label class="lbl1">Pour cette demande vous êtes : </label>
                <label class="lbl2">Bénéficiaire</label>
             </div>
             <div>
                <label class="lbl1">Date de réalisation : </label>
                <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
            </div>
            <div>
                <label class="lbl1">Heure de réalisation :</label>
                <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
            </div>
            <div>
                <label class="lbl1">Adresse de réalisation : </label>
                <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
            </div>
            <div>
                <label class="lbl1">Type de service : </label>
                <label class="lbl2">@d.LibelleTypeService</label>
            </div>
            <div>
                <label class="lbl1">Equipement nécessaire : </label>
                <p id="equip">
                    @foreach (string item in d.Equipements)
                    {

                        <label id="equiplbl">@item</label><br />

                    }
                </p>
            </div>
        <div>
            <button class="btnsuividem">Modifier cette demande</button>
        </div>
        <div>
            <button class="btnsuividem">Suspendre cette demande</button>
        </div>
        <div>
            <button class="btnsuividem">Annuler cette demande</button>
        </div>
    </div>
        }

    
        
    </div>
    <div class="row" id="demavalider">
        <h3 class="titredem">Demandes à valider</h3>
        @foreach (DemandeService d in ViewBag.demandesEnAttenteAValider)
        {
            <div class="demandes">
                <form method="post">
                    <div>
                        <label class="lbl1">Pour cette demande vous êtes : </label>
                        <label class="lbl2">Bénéficiaire</label>
                    </div>
                    <div>
                        <label class="lbl1">Date de réalisation : </label>
                        <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                    </div>
                    <div>
                        <label class="lbl1">Heure de réalisation :</label>
                        <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                    </div>
                    <div>
                        <label class="lbl1">Adresse de réalisation : </label>
                        <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                    </div>
                    <div>
                        <label class="lbl1">Type de service : </label>
                        <label class="lbl2">@d.LibelleTypeService</label>
                    </div>
                    <div>
                        <label class="lbl1">Equipement nécessaire : </label>
                        <p id="equip">
                            @foreach (string item in d.Equipements)
                            {

                                <label id="equiplbl">@item</label><br />

                            }
                        </p>
                    </div>
                    <div>
                        <label class="lbl1">Bénévole concerné par cette demande : </label>
                        <label class="lbl2">@d.NomBenevole</label>
                        <input type="text" name="idDemande" value="@d.IdDemande" hidden/>
                        <input type="text" name="idBenevole" value="@d.IdBenevole" hidden/>
                    </div>
                    <div>
                        <input type="submit" class="btnsuividem" value="Accepter ce bénévole"/>
                    </div>
                    <div>
                        <button class="btnsuividem">Modifier cette demande</button>
                    </div>
                    <div>
                        <button class="btnsuividem">Suspendre cette demande</button>
                    </div>
                    <div>
                        <button class="btnsuividem">Annuler cette demande</button>
                    </div>
                </form>
            </div>
        }
    </div>
    <div class="row" id="demenattente">
        <h3 class="titredem">Demandes en attente de validation du bénéficiaire</h3>
        @foreach (DemandeService d in ViewBag.demandesAValiderParBeneficiaire)
        {
            <div class="demandes">
                <form method="post">
                    <div>
                        <label class="lbl1">Pour cette demande vous êtes : </label>
                        <label class="lbl2">Bénévole</label>
                    </div>
                    <div>
                        <label class="lbl1">Date de réalisation : </label>
                        <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                    </div>
                    <div>
                        <label class="lbl1">Heure de réalisation :</label>
                        <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                    </div>
                    <div>
                        <label class="lbl1">Adresse de réalisation : </label>
                        <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                    </div>
                    <div>
                        <label class="lbl1">Type de service : </label>
                        <label class="lbl2">@d.LibelleTypeService</label>
                    </div>
                    <div>
                        <label class="lbl1">Equipement nécessaire : </label>
                        <p id="equip">
                            @foreach (string item in d.Equipements)
                            {

                                <label id="equiplbl">@item</label><br />

                            }
                        </p>
                    </div>
                    <div>
                        <label class="lbl1">Bénévole concerné par cette demande : </label>
                        <label class="lbl2">@d.NomBenevole</label>
                        <input type="text" name="idDemande" value="@d.IdDemande" hidden />
                        <input type="text" name="idBenevole" value="@d.IdBenevole" hidden />
                    </div>
                    <div>
                        <input type="submit" class="btnsuividem" value="Accepter ce bénévole" />
                    </div>
                    <div>
                        <button class="btnsuividem">Annulation ma participation</button>
                    </div>
                </form>
            </div>
        }
        
    </div>
    <div class="row" id="dempassees">
        <h3 class="titredem">Demandes passées à clôturer</h3>
        @foreach (DemandeService d in ViewBag.demandesACloturerBeneficiaire)
        {
            <div class="demandes">
                <div>
                    <label class="lbl1">Pour cette demande vous êtes : </label>
                    <label class="lbl2">Bénévole</label>
                </div>
                <div>
                    <label class="lbl1">Date de réalisation : </label>
                    <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                </div>
                <div>
                    <label class="lbl1">Heure de réalisation :</label>
                    <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                </div>
                <div>
                    <label class="lbl1">Adresse de réalisation : </label>
                    <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                </div>
                <div>
                    <label class="lbl1">Type de service : </label>
                    <label class="lbl2">@d.LibelleTypeService</label>
                </div>
                <div>
                    <label class="lbl1">Equipement nécessaire : </label>
                    <p id="equip">
                        @foreach (string item in d.Equipements)
                        {

                            <label id="equiplbl">@item</label><br />

                        }
                    </p>
                </div>
                <div>
                    <label class="lbl1">Bénévole concerné par cette demande : </label>
                    <label class="lbl2">@d.NomBenevole</label>
                </div>
                <div>
                    <button class="btnsuividem">Clôturer cette demande si elle a été effectuée</button>
                </div>
                <div>
                    <button class="btnsuividem">Clôturer cette demande si elle n'a pas été effectuée</button>
                </div>
            </div>
        }
        @foreach (DemandeService d in ViewBag.demandesACloturerBenevole)
        {
            <div class="demandes">
                <div>
                    <label class="lbl1">Pour cette demande vous êtes : </label>
                    <label class="lbl2">Bénéficiaire</label>
                </div>
                <div>
                    <label class="lbl1">Date de réalisation : </label>
                    <label class="lbl2">@d.DateRealisation.ToString("dd-MM-yyyy")</label>
                </div>
                <div>
                    <label class="lbl1">Heure de réalisation :</label>
                    <label class="lbl2">@d.DateRealisation.ToString("HH:mm")</label>
                </div>
                <div>
                    <label class="lbl1">Adresse de réalisation : </label>
                    <label class="lbl2">@d.AdresseRealisation @d.CodePostal @d.LibelleVilleRealisation</label>
                </div>
                <div>
                    <label class="lbl1">Type de service : </label>
                    <label class="lbl2">@d.LibelleTypeService</label>
                </div>
                <div>
                    <label class="lbl1">Equipement nécessaire : </label>
                    <p id="equip">
                        @foreach (string item in d.Equipements)
                        {

                            <label id="equiplbl">@item</label><br />

                        }
                    </p>
                </div>
                
                <div>
                    <button class="btnsuividem">Clôturer cette demande si elle a été effectuée</button>
                </div>
                <div>
                    <button class="btnsuividem">Clôturer cette demande si elle n'a pas été effectuée</button>
                </div>
            </div>
        }

    </div>
</body>


