

@model Pandami2.Models.ViewModelUtilisateur
   
@{
    ViewBag.Title = "Inscription";

}
<div class="jumbotron text-center">
    <h2>Inscription</h2>
</div>
<body>
    <div id="forminscription">
        <h2> Formulaire d'inscription</h2>
        <p>Remplissez le formulaire ci-dessous pour accéder aux demandes en cours </p>
    </div>

    <div class="row">
        <form id="formUtilisateur" name="formUtilisateur" action="" method="post">
            <input type="text" id="idUtilisateur" name="idUtilisateur" value="@Model.Utilisateur.Id_utilisateur" hidden />
            <div class="form-group">
                <table>
                    <tr>
                        <td><label class="lbl3">Nom :</label></td>
                        <td>
                            <input class="lbl3" id="nom" name="nom" type="text" value="@Model.Utilisateur.Nom" required />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="lbl3">Prénom :</label></td>
                        <td>
                            <input class="lbl3" id="prenom" name="prenom" type="text" value="@Model.Utilisateur.Prenom" required />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="lbl3">Genre :</label></td>
                        <td>
                            <select class="lbl3" name="Id_Genre" required>
                                @foreach (KeyValuePair<int, string> kpv in Model.GenreDao.ListeGenre())
                                {
                                    <option value="@kpv.Key"> @kpv.Value </option>
                                }
                            </select>
                        </td>
                    <tr>
                    <tr>
                        <td><label class="lbl3">Date de naissance :</label></td>
                        <td>
                            <input class="lbl3" id="date_naissance" type="date" name="date_naissance" value="@Model.Utilisateur.Date_naissance" required />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="lbl3">Adresse :</label></td>
                        <td>
                            <input class="lbl3" id="adresse" name="adresse" type="text" value="@Model.Utilisateur.Adresse" required />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="lbl3">Ville :</label></td>
                        <td>
                            <select class="lbl3" name="Id_ville" required>
                                @{ foreach (KeyValuePair<int, string> kpv in Model.VilleDao.ChargerListeVille())
                                    {
                                        <option value="@kpv.Key"> @kpv.Value </option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="lbl3"> Numéro de téléphone :</label>
                        </td>
                        <td>
                            <input class="lbl3" name="num_telephone" type="tel" value="@Model.Utilisateur.Num_telephone" required pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" />
                        </td>
                    </tr>
                    <tr>
                        <td><label class="lbl3">Adresse électronique:</label></td>
                        <td>
                            <input class="lbl3" id="email" name="email" type="email" value="@Model.Utilisateur.Email" required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="lbl3" id="date_inscription" type="date" name="date_inscription" value="@Model.Utilisateur.Date_inscription" hidden />
                        </td>
                    </tr>
                </table>
            </div>
            <input type="submit" nom="enregistrer" id="enregistrer" value="Valider" onclick="    />
            <script>
                function age() {
                    var age = document.getElementById("date_naissance")
                    if (age - Date.now < 18) {
                        alert("Vous devez avoir plus de 18ans");
                    }
                }
            </script>
        </form>
    </div>
</body>
















