
@model Pandami2.Models.Utilisateur
    Layout = "~/Views/Shared/_Layout.cshtml";
@{
    // ViewBag.Title = "Inscription";

}
<div class="jumbotron text-center">
    <h2>Inscription</h2>
</div>

<h2> Formulaire d'inscription</h2>

<p>Remplissez le formulaire ci-dessous pour accéder aux demandes en cours </p>
<hr />
<form id="formUtilisateur" name="formUtilisateur" action="" method="post">

    <table>

        <tr>
            <td><label>Nom:</label></td>
            <td>
                <input id="nom" name="nom" type="text" value="@Model.Nom" />
            </td>
        </tr>
        <tr>
            <td><label>Prenom:</label></td>
            <td>
                <input id="prenom" name="prenom" type="text" value="@Model.Prenom" />
            </td>
        </tr>
        <tr>
            <td><label>Id-Genre:</label></td>
            <td>

                <select name="Id_Genre">

                    <option value="1">Femme</option>
                    <option value="2">Homme</option>

                </select>
            </td>
        <tr>
        <tr>
            <td><label>Date de naissance:</label></td>
            <td>
                <input id="date_naissance" type="date" name="date_naissance" value="@Model.Date_naissance" />
            </td>
        </tr>
        <tr>
            <td><label>Adresse:</label></td>
            <td>
                <input id="adresse" name="adresse" type="text" value="@Model.Adresse" />
            </td>
        </tr>
        <tr>
            <td><label>Vile:</label></td>
            <td>
                <input id="id_ville" name="id_ville" value="@Model.Id_ville" />
            </td>
        </tr>
        <tr>
            <td>
                <label> Numero de telephone :</label>
            </td>
            <td>
                <input name="num_telephone" type="tel" value="@Model.Num_telephone" /> 
            </td>
        </tr>
        <tr>
            <td><label>Adresse electronique:</label></td>
            <td>
                <input id="email" name="email" type="email" value="@Model.Email" />
            </td>
        </tr>
        <tr>
            <td><label>Date inscription:</label></td>
            <td>
                <input id="date_inscription" type="date" name="date_inscription" value="@Model.Date_inscription" />
            </td>
        </tr>


    </table>

    <input type="submit" nom="enregistrer" id="enregistrer" value="valider" />
</form>





